* {
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    /*border: 2px solid red;*/
}

.title {
    font-size: 70px;
    color: rgb(138, 6, 112);
    font-weight: 800;
    text-align: center;
    border: 6px dotted rgb(228, 71, 228);
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    width: 500px;
    margin: 0 auto 30px;
}

.recipe-outer {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    
}

.homepage {
    display: flex;
}

.homepage-left {
    margin-left: 600px;;
    
}

.homepage-right {
    margin: 0 600px 0 60px;
    
    
}

.index-text {
    font-size: 25px;
    color: rgb(242, 20, 153);
    text-align: left;
    list-style: none; 
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
    
    
    
}

.index-link {
    margin-top: 20px;
    border: 6px double rgb(6, 120, 99);
    padding: 5px;
}

.recipe-title {
    font-size: 50px;
    color: rgb(74, 44, 241);
}

.recipe-pic {
    padding: 50px;
}
.recipe-text {
    display: inline-block;
    width: 1000px;
    font-size: 20px;
    border: 4px solid rgb(9, 255, 0);
    padding: 10px;
}
.recipe-title {
    font-size: 60px;
    color: rgb(156, 59, 212);
    font-style: italic;
    display: inline-block;
    width: 800px;
    text-align: center;
    border: 4px dotted rgb(14, 193, 14);
    margin: 50px 550px;
}

.back {
    border: 3px dotted purple;
    display: inline-block;
    margin-top: 30px;
}

h3 {
    color: rgb(9, 123, 254);
    font-size: 35px;
    font-style: italic;
}